<div class="card" data-aos="fade-right" data-aos-duration="3000">
  <div class="card-body">
    <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
      <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId" />
      <div class="form-group">
        <label>CARD OWNER NAME</label>
        <input class="form-control form-control-lg" placeholder="Full Name" name="cardOwnerName"
          #cardOwnerName="ngModel" [(ngModel)]="service.formData.cardOwnerName" minlength="3" required
          pattern="[a-zA-Z][a-zA-Z0-9\s]*" [class.invalid]="cardOwnerName.invalid && cardOwnerName.touched">
        <span class="text-danger" *ngIf="cardOwnerName.errors?.required && cardOwnerName.touched">
          Card Owner Name tidak boleh kosong
          <br>
        </span>
        <span class="text-danger" *ngIf="cardOwnerName.errors?.pattern">
          Card Owner Name harus berisi huruf,
          <br>
        </span>
        <span class="text-danger" *ngIf="cardOwnerName.errors?.['minlength']">
          Card Owner Name Minimal 3 huruf
          <br>
        </span>
      </div>
      <div class="form-group">
        <label>CARD NUMBER</label>
        <input type="text" class="form-control form-control-lg" placeholder="16 Digit Card Number" name="cardNumber"
          #cardNumber="ngModel" [(ngModel)]="service.formData.cardNumber" required maxlength="16" minlength="16"
          pattern="^([0-9]*)$" [class.invalid]="cardNumber.invalid && cardNumber.touched">
        <span class="text-danger mb-1" *ngIf="cardNumber.errors?.required && cardNumber.touched">
          Card Number tidak boleh kosong
          <br>
        </span>
        <span class="text-danger" *ngIf="cardNumber.errors?.pattern">
          Card Number harus berisi angka,
          <br>
        </span>
        <span class="text-danger" *ngIf="cardNumber.errors?.['minlength']">
          Card Number harus berisi 16 angka
        </span>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>SECURITY CODE</label>
          <input type="password" class="form-control form-control-lg" placeholder="Security Code" name="securityCode"
            #securityCode="ngModel" [(ngModel)]="service.formData.securityCode" required maxlength="3" minlength="3"
            [class.invalid]="securityCode.invalid && securityCode.touched">
          <span class="text-danger" *ngIf="securityCode.errors?.required && securityCode.touched">
            Security Code Tidak boleh kosong
          </span>
          <span class="text-danger" *ngIf="securityCode.errors?.['minlength']">
            Security Code Harus berisi 3 angka
          </span>
        </div>
        <div class="form-group col-md-6">
          <label>EXPIRATION DATE</label>
          <input class="form-control form-control-lg" placeholder="MM/YY" name="expirationDate"
            #expirationDate="ngModel" [(ngModel)]="service.formData.expirationDate" required maxlength="5" minlength="5"
            pattern="^(0[1-9]|1[0-2])\/?([0-9]{2})$" [class.invalid]="expirationDate.invalid && expirationDate.touched">
          <span class="text-danger" *ngIf="expirationDate.errors?.required && expirationDate.touched">
            Expiration Date Tidak Boleh Kosong
          </span>
          <span class="text-danger" *ngIf="expirationDate.errors?.['minlength']">
            Expiration Date Harus berisi 5 karakter
            <br>
          </span>
          <span class="text-danger" *ngIf="expirationDate.errors?.pattern">
            Expiration date harus berformat [MM/YY],
            <br>
          </span>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
      </div>
    </form>
  </div>
</div>
