<div class="rounded-lg shadow bg-base-200 drawer h-screen">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle">

  <div class="flex flex-col drawer-content">
    <div class="w-full navbar bg-base-300">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="flex-1 px-2 mx-2">
        <span>
          Angular Notes
        </span>
      </div>
      <div class="flex-none hidden lg:block">
        <ul class="menu horizontal">
          <li *ngFor="let route of routes.reverse()">
            <a class="rounded-btn" [routerLink]="[ route ]">{{ route }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content h-full">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="p-4 overflow-y-auto menu w-80 bg-base-100">
      <li *ngFor="let route of routes">
        <a [routerLink]="[ route ]">{{ route }}</a>
      </li>
    </ul>
  </div>
</div>
