<div class="hero min-h-full">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        Angular Notes
      </h1>

      <h6>Only for FSD OCBC 1</h6>

      <p class="mb-5">
        Hi! 👋🏻
      </p>
      <p>
        Ini adalah catatan lecture untuk referensi kalian untuk ke depannya ya...
      </p>
      <p>
        Pastikan kalian selalu lakukan <code>git pull</code> di <strong>jam 6 sore</strong>
        untuk mendapatkan catatan terkini ya...
      </p>
      <p>
        Repo ini hanya akan berlaku selama sesi berlangsung, dan akan di-private H+1
        setelah final project.
      </p>
      <p>
        Happy coding! 🎉
      </p>

      <!--
        Saya ganti <a> dengan <app-link> untuk menunjukkan component reusablility.
        Kalian dapat melihat component ini pada file:
        /src/app/components/clickables/Link.component.ts
      -->
      <app-link linkType="external" [linkTo]="['https://github.com/easterneas/angular-notes']" [linkName]="'clone this repo @ GitHub'"></app-link>
    </div>
  </div>
</div>



